TVDB_USERNAME=""
TVDB_PASSWORD=""
TVDB_EMAIL=""
TVDB_API=""

YOUTUBE_API=""

SONARR_API=""
SONARR_HOST=""

# Directory to store api cache, error logs ect.
CACHE_DIR="./cache"

# will not download or perform any write changes to tvdb
PREVIEW_ONLY=true

# Use tvdb as readonly
DOWNLOAD_ONLY=true

# Where to save youtube downloads
OUTPUT_DIR="./downloads"

VERBOSE_LOGS=false

# Provide a global regex of text to be removed from any youtube video title
TITLE_CLEANER_REGEX=

# These are the tvdb ids that you do not want to manage, these series ids will never try to add or edit episodes
SKIP_FROM_SYNC_TVDB_SERIES_IDS=
